.w-md-editor-toolbar {
  li {
    > button {
      padding: 0.75rem !important;
      height: 40px !important;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.w-md-editor-preview {
  em {
    font-style: italic;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}

.w-md-editor-footer {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #30363d;
  background-color: #0d1117;
  color: #c9d1d9;
  font-size: 0.85rem;

  > p {
    > span {
      @include layoutSpaceLeft(1rem);
    }
  }
}
