.w-md-editor-toolbar {
  li {
    > button {
      padding: 0.75rem !important;
      height: 40px !important;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.w-md-editor-preview {
  em {
    font-style: italic;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}
