.w-md-editor-toolbar {
  li {
    > button {
      padding: 0.75rem !important;
      height: 40px !important;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.w-md-editor-preview {
  em {
    font-style: italic;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  pre {
    span.line-number {
      display: inline-flex;
      justify-content: flex-end;
      margin-right: 0.5rem;
      padding: 0 0.5rem;
      border-right: 2px solid $color_security;
    }
  }
}

.w-md-editor-footer {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #30363d;
  background-color: #0d1117;
  color: #c9d1d9;
  font-size: 0.85rem;

  > p {
    > span {
      @include layoutSpaceLeft(1rem);
    }
  }
}

.w-md-editor-pdf {
  left: -999px;
  overflow: visible;
  width: 210mm !important;
  height: max-content;
}
